*{
  margin: 0;
  padding: 0;
}
#banner {
  color: black;
  height: 100vh;
  background: url("../img/10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-size: cover;
}
#menu1 {

}
#menu1:checked ~ .pp {
  transform: translateX(0);


}
.pp {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  transition: all .2s;
  transform: translateX(-100%);
  line-height: 0;
}

.pp > a {
  text-decoration: none;
  padding: 2px;
  color: white;

}
.inicio {
  display: flex;
  flex-direction: column;
  background:rgba(255,0,0, 0.3);



}

.tittle {
  text-align: center;
}

header {
  width:100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

h1 a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 5px;
}

body {

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
span[class^="icon"]{
  padding: 0  30px 0 0;
}
.Food {
  display:flex;
  flex-wrap: wrap;
}
.foto {
  width: 200px;
  height: 200px;
}

.img {
  flex-basis: 32%;
}

div {
  display: block;
}

.menu {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin: 2px;
  position: absolute;
  top: 5px;
  right: 0;

}

.icon-menu {
  display: block;
  margin: 2px;
  width: 10px;
  height: 5px;
  background: black;
  border-radius: 5px;
}

@media screen and (min-width:721px){
  .menu {
    display: none;
  }
  .pp {
    transform: translateX(0);
    display: flex;
    flex-direction: row;

  }
  .pp > a {
    padding: 0 45px;
    font-size: 22px;
  }
  .inicio {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: initial;
    align-items: center;

  }
}

font {
  font-size: 50px;
}
.Contenedor {
  width: 100vw;
  height: 100vh;
  background: wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  border: 1px solid black;
  padding: 2em;
}

input,label,textarea {
  display: block;
  margin: 1em;
}
input,textarea {
  border-top: 1px solid black;
  width: 90%;
  padding: .5em;
}
[type="submit"]{
  width: 20%;
}
.Contenedor {
  display: flex

}

